---
layout: page
title: Projects
---

<section class="list">
    <div>
      <h3>Dog-Breed Classifier in Pytorch</h3>
      <p>Use transfer learning to build a model that recognizes up to 133 different dog breeds.</p>
      <a target="_blank" href="https://github.com/HectorBudielE/udacity-dog-breed-classifier">Github</a>
    </div>
    <hr>
    <div>
      <h3>TV Script Generation</h3>
      <p>It generates its own Seinfeld TV scripts using RNNs and a Seinfeld dataset of scripts from 9 seasons. The Neural Network will generate a new, "fake" TV script.</p>
      <a target="_blank" href="https://github.com/HectorBudielE/udacity-tv-script-generation">Github</a>
    </div>
    <hr>
    <div>
      <h3>SageMaker Deployment</h3>
      <p>Deployment of a Sentiment Analysis model with AWS Sagemaker</p>
      <a target="_blank" href="https://github.com/HectorBudielE/deploying-a-sentiment-analysis-model">Github</a>
    </div>
    <hr>
    <div>
      <h3>Design of an Audiometer</h3>
      <p>Design and implementation of an Audiometer using an Arduino, a Raspberry Pi and a Python based Graphical User Interface.</p>
      <a target="_blank" href="https://drive.google.com/open?id=11O06f8bpEK9jKoZ-XLsUXy99HGycjZQh">Repository</a> (in Spanish)
    </div>




</section>


<!-- <section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    <h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section> -->
